<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/iRFExplorer.app</string>
		<key>CFBundleIdentifier</key>
		<string>org.webweaving.iRFExplorer</string>
		<key>CFBundleShortVersionString</key>
		<string>1.01</string>
		<key>IconPaths</key>
		<array>
			<string>Applications/iRFExplorer.app/Contents/Resources/Icons.icns</string>
		</array>
	</dict>
	<key>ArchiveVersion</key>
	<real>1</real>
	<key>CreationDate</key>
	<date>2011-10-19T23:29:19Z</date>
	<key>Name</key>
	<string>iRFExplorer</string>
	<key>SchemeName</key>
	<string>iRFExplorer</string>
	<key>Status</key>
	<string>Submitted</string>
</dict>
</plist>
